<div id="sidebar-scroll">
  <div class="sidebar-content">
    {{#unless hasBlock}}
      {{mainui/mainui-dashboard/page-sidebar/side-header onClose=(action "close")}}
      {{mainui/mainui-dashboard/page-sidebar/side-content}}
    {{else}}
      {{yield
        (hash
          header=(component "mainui/mainui-dashboard/page-sidebar/side-header" onClose=(action "close"))
          content=(component "mainui/mainui-dashboard/page-sidebar/side-content")
        )
      }}
    {{/unless}}
  </div>
</div>