<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-7">
      <h1 class="page-heading">
        {{header}}
        {{#if subheader}}
          <small>{{subheader}}</small>
        {{/if}}
      </h1>
    </div>

    <div class="col-sm-5 text-right hidden-xs">
      {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
    </div>
  </div>
</div>

<div class="content">
  {{yield}}
</div>