{{#mainui/mainui-form/input-holder errors=errors}}
  <label for="{{concat "input-" elementId}}">
    {{label}}
  </label>

  {{textarea
    autofocus=autofocus
    class="form-control"
    id=(concat "input-" elementId)
    placeholder=placeholder
    value=value
  }}
{{/mainui/mainui-form/input-holder}}